:root {
    --roxo-spark: #044B77;
    --laranja-spark: #E17C00;
}

/* estilo geral */


.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 200px;
    font-style: normal;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}


header .interface {
    margin: none;
}


body {
    width:100%;
    right: 50%;
    background-color: black;
    height: 100vh;
    font-family: "Noto sans", sans-serif;
    margin: none;
}


* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

.btn-play h6 {
    font-family: "Noto sans", sans-serif;
    font-size: 30px;
}

.letra-do-negoci {
    right: 100px;
    color: #fffbfb;
    margin: 50px;
    font-family: "Noto sans", sans-serif;
    font-size: 80px;
    text-align: center;
}

.interface button.hamburguer{
    display: none;
}

.logo {
    width: 20px;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 15px 60px;
    font-size: 10px ;
    font-weight: 300;
    background-color: #f0e80be3;
    border-block-end-style: #2900f78a;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h6 {
    margin: 20px;
    font-size: 20px;
}

/* estilo do cabeçario */

header {
    padding: 40px 4px;
}

header li a {
    font-size: 25px;
}

header nav {
    align-items: top;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h4 {
    right: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
}

header a {
    color: #807d7d;
    
    
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 10px #8000FF;
    transform: scale(1.05);
    transition: .2s;
}

/* ESTILO DO TOPO DO SITE */

section.container-card #cases {
    width: 100%;
    right: 100%;
}

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    font-family: sans-serif;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #ffffff;
    font-size: 40px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 45px 0;
    font-family: sans-serif;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

span {
    color: #fff700e3;
}

section p {
    text-align: center;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-size: 25px;
    color: #fff;
    margin: 40px 300px;
}

div.card p {
    color: #fff;
    text-align: center;
    margin: 20px;
    font-family: "Inter", sans-serif;
}

.container-card {

    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.card {
    height: 500px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: orange;

    padding-bottom: 4px;
    margin-bottom: 4px;

    box-shadow: rgb(255, 255, 255);
}

.card img {
    height: 30%;
    width: 100%;
    border-style: hidden;
    border: none;
}

.card p {
    text-align: center;
    width: 70%;

    font-family: sans-serif;
    font-size: 15px;

    padding: 2%;

    color: rgb(0, 0, 0);
}

.card button {
    width: 90%;
    height: 10%;

    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: #000000;

    font-size: 17px;
    font-weight: 600px;

    cursor: pointer;
}

.card button:hover {
    background-color: #ff1e00;
}

/* sessão do portifolio */

#portifolio {
    height: 250px;

    margin-bottom: 20px;

    background-image: url(img/gamificado.jpeg);

    background-size: auto;

    background-repeat: repeat;

    background-attachment: fixed;

    position: relative;
}

.filtro {
    height: 100%;
    width: 100%;

    background-color: #8b48d842;

    position: absolute;
    top: 0;
}

.btn-play button {
    margin: 40px;
    width: 200px;
    height: 100px;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
}


#portifolio .container-grid {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#portifolio a {
    width: fit-content;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;

    color: white;

    z-index: 1;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h5 {
    color: #9e9797;
    font-size: 40px;
}

.rigth-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px 130px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #322591;
}



.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px;
}

.textfield>input {
    right: 20%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #514869;
    color: #ecf0e1;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #fffffe;

}

.textfield>input::placeholder {
    color: #d5d5d5;
}

.btn-login {
    width: 500%;
    right: 900%;
    border-radius: 30px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: #47eb8b;
    cursor: pointer;
    box-shadow: 0px 2px 10px #89f092;
}

.card-login>h3 {
    color: #80ff00;
    font-weight: 8000;
    margin: 0;
    font-size: 40px;
    font-family: "Noto sans", sans-serif;
}







#portifolio a:hover {
    transform: scale(1.05);
}

.campo {
    width: 60%;


    margin-bottom: 50px;


    text-align: left;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.campo input {
    height: 40px;


    color: rgb(255, 255, 255);
    background-color: #351868;




    border: none;
    border-radius: 4px;


    outline: none;


    text-indent: 10px;


    font-family: sans-serif;
    font-size: 17px;
}


.campo-textarea {
    width: 60%;


    margin-bottom: 30px;


    text-align: left;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.campo-textarea textarea {
    color: rgb(0, 0, 0);
    background-color: #351868;


    border: none;
    border-radius: 4px;


    padding: 10px;


    font-family: "Montserrat";
    font-size: 17px;


    outline: none;


    resize: none;
}

footer {
    height: 290px;
    right: 100px;


    background-color: #021428;
}


footer .container-grid {
    height: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;
}


.redes-sociais {
    height: 50%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}


.redes-sociais p {
    color: white;


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}


.icones-redes {
    width: 240px;


    display: flex;
    justify-content: space-between;
}


.icones-redes a {
    color: #fff
}


.icones-redes a:hover {
    color: #4549d2e5;
}

#contato form input::placeholder,
#contato form textarea::placeholder {
    color: #b1a5a5;
}


footer {
    height: 290px;


    background-color: #021428;
}


footer .container-grid {
    height: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;
}


.redes-sociais {
    height: 50%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.redes-sociais p {
    color: white;


    font-family: "julius";
    font-size: 24px;
}


.icones-redes {
    width: 300px;
    display: flex;
    justify-content: space-between;
}


.icones-redes a {
    color: #fff
}


.icones-redes a:hover {
    color: #305fcb68;
}

@media screen and (max-width: 1700px) {

    /* classes gerais */
    .flex {
        flex-direction: column;
    }


    /* cabeçalho */
    .menu-desktop a {
        display: none;
    }

    .hamburguer {
        border: none;
        background-color: none;
        cursor: pointer;
        border-top: 3px solid #fff;
       }




    /* topo do site */

    section .topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

 

    section p {
        text-align: center;
        margin-bottom: 50px;
        font-family: sans-serif;
        font-size: 25px;
        color: #fff;
        margin: 40px 90px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* assuntos */

    .container-card {
        overflow-x: auto;
    }
   

    /* login */

    .card-login h3 {
        font-size: 15px;
    }

    .card-login {
        right: 70%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 25px;
        background-color: #2f2841;
        border-radius: 20px;
        box-shadow: 0px 5px 20px #322591;
    }

    .textfield {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 15px 0px;
    }

    .textfield>input {
        width: 90%;
        right: 5%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #514869;
        color: #ecf0e1;
        font-size: 12pt;
        outline: none;
        box-sizing: border-box;
    }

    .textfield>label {
        color: #fffffe;

    }

    .textfield>input::placeholder {
        color: #d5d5d5;
    }

    .btn-login {
        width: 70%;
    }

    /* assuntos */

    .container-card {
        padding: 40px 4%;
    }

    /* final */
     footer .container-grid {
         height: 290px;
        background-color: #021428;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .redes-sociais {
        height: 50%;
    
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    
    .redes-sociais p {
        color: white;
    
    
        font-family: "julius";
        font-size: 24px;
    }
    
    
    .icones-redes {
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
    
    
    .icones-redes a {
        color: #fff
    }
    
    
    .icones-redes a:hover {
        color: #305fcb68;
    }

}


@media screen and (max-width: 800px) {

    /* classes gerais */
    .flex {
        flex-direction: column;
    }


    /* cabeçalho */
    .menu-desktop a {
        display: none;
    }

    /* topo do site */
    section .topo-do-site {
        padding: 20px 8%;
    }

    .interface button {
        width: 7%;
        right: 10%;
        border: none;
        background-color: none;
    }

    .topo-do-site h1 {
        font-size: 15px;
    }


    /* assuntos */

    .container-card {
        padding: 20px 2%;
        overflow-x: auto;
    }

    .card button {
        width: 90%;
        height: 10%;
        background-color: #ffffff;
        border: none;
        border-radius: 2px;
        color: #000000;
        font-size: 14px;
        font-weight: 63px;
        cursor: pointer;
    }

    .card img {
        height: 20%;
        width: 100%;
        justify-content: space-between;
        border-style: hidden;
        border: none;
    }

    .card p {
        text-align: center;
        width: 90%;
        font-family: sans-serif;
        font-size: 15px;
        padding: 1px 5px;
        color: rgb(0, 0, 0);
    }

    /* login */
    section p {
        text-align: center;
        margin-bottom: 25px;
        font-family: sans-serif;
        font-size: 25px;
        color: #fff;
        margin: 20px 45px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    .card-login h3 {
        font-size: 15px;
    }

    .card-login {
        right: 70%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 25px;
        background-color: #2f2841;
        border-radius: 20px;
        box-shadow: 0px 5px 20px #322591;
    }

    .textfield {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 15px 0px;
    }

    .textfield>input {
        width: 90%;
        right: 5%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #514869;
        color: #ecf0e1;
        font-size: 12pt;
        outline: none;
        box-sizing: border-box;
    }

    .textfield>label {
        color: #fffffe;

    }

    .textfield>input::placeholder {
        color: #d5d5d5;
    }

    .btn-login {
        width: 70%;
    }

}

@media screen and (max-width: 600px) {

    /* classes gerais */
    .flex {
        flex-direction: column;
    }
    .hamburguer svg{
        fill: white;
    }
    

    /* cabeçalho */
    .menu-desktop a {
        display: none;
    }

    /* topo do site */
    section .topo-do-site {
        padding: 40px 16%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .btn-contato {
        width: 50%;
    }


    /* assuntos */

    .container-card {
        padding: 40px 4%;
        overflow-x: auto;
    }



    .card button {
        width: 90%;
        height: 10%;
        background-color: #ffffff;
        border: none;
        border-radius: 2px;
        color: #000000;
        font-size: 14px;
        font-weight: 63px;
        cursor: pointer;
    }

    .card img {
        height: 20%;
        width: 100%;
        justify-content: space-between;
        border-style: hidden;
        border: none;
    }

    .card p {
        text-align: center;
        width: 90%;
        font-family: sans-serif;
        font-size: 15px;
        padding: 1px 5px;
        color: rgb(0, 0, 0);
    }

    /* login */
    section p {
        text-align: center;
        margin-bottom: 25px;
        font-family: sans-serif;
        font-size: 25px;
        color: #fff;
        margin: 20px 45px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    .card-login h3 {
        font-size: 15px;
    }

    .card-login {
        right: 70%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 25px;
        background-color: #2f2841;
        border-radius: 20px;
        box-shadow: 0px 5px 20px #322591;
    }

    .textfield {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 15px 0px;
    }

    .textfield>input {
        width: 90%;
        right: 5%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #514869;
        color: #ecf0e1;
        font-size: 12pt;
        outline: none;
        box-sizing: border-box;
    }

    .textfield>label {
        color: #fffffe;

    }

    .textfield>input::placeholder {
        color: #d5d5d5;
    }

    .btn-login {
        width: 70%;
    }

    /* parte do gamificação */

    #portifolio {
        height: 150px;
        right: -100px;

        margin-bottom: 20px;

        background-image: url(img/gamificado.jpeg);

        background-size: auto;

        background-repeat: repeat;

        background-attachment: fixed;

        position: relative;
    }

    .filtro {
        height: 100%;
        width: 100%;

        background-color: #8b48d842;

        position: absolute;
        top: 0;
    }

    .btn-play button {
        margin: 20px 200px;
        width: 200px;
        height: 100px;

        border-radius: 40px;
        cursor: pointer;
        transition: .2s;
    }
}

@media screen and (max-width: 400px) {

    /* classes gerais */
    .flex {
        flex-direction: column;
    }


    /* cabeçalho */
    .menu-desktop a {
        display: none;
    }

    /* topo do site */
    section .topo-do-site {
        padding: 40px 16%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .btn-contato {
        width: 50%;
    }


    /* assuntos */

    .container-card {
        padding: 40px 4%;
        overflow-x: auto;
    }



    .card button {
        width: 90%;
        height: 10%;
        background-color: #ffffff;
        border: none;
        border-radius: 2px;
        color: #000000;
        font-size: 14px;
        font-weight: 63px;
        cursor: pointer;
    }

    .card img {
        height: 20%;
        width: 100%;
        justify-content: space-between;
        border-style: hidden;
        border: none;
    }

    .card p {
        text-align: center;
        width: 90%;
        font-family: sans-serif;
        font-size: 15px;
        padding: 1px 5px;
        color: rgb(0, 0, 0);
    }

    /* login */
    section p {
        text-align: center;
        margin-bottom: 25px;
        font-family: sans-serif;
        font-size: 25px;
        color: #fff;
        margin: 20px 45px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    .card-login h3 {
        font-size: 15px;
    }

    .card-login {
        right: 70%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 25px;
        background-color: #2f2841;
        border-radius: 20px;
        box-shadow: 0px 5px 20px #322591;
    }

    .textfield {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 15px 0px;
    }

    .textfield>input {
        width: 90%;
        right: 5%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #514869;
        color: #ecf0e1;
        font-size: 12pt;
        outline: none;
        box-sizing: border-box;
    }

    .textfield>label {
        color: #fffffe;

    }

    .textfield>input::placeholder {
        color: #d5d5d5;
    }

    .btn-login {
        width: 70%;
    }

    /* parte do gamificação */

    #portifolio {
        height: 150px;
        right: -100px;

        margin-bottom: 20px;

        background-image: url(img/gamificado.jpeg);

        background-size: auto;

        background-repeat: repeat;

        background-attachment: fixed;

        position: relative;
    }

    .main-login {
        
        position: absolute;
    }

    .filtro {
        height: 100%;
        width: 100%;

        background-color: #8b48d842;

        position: absolute;
        top: 0;
    }

    .btn-play button {
        margin: 20px 200px;
        width: 200px;
        height: 100px;

        border-radius: 40px;
        cursor: pointer;
        transition: .2s;
    }
}